<div class="modal fade" id="addFileTemplateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <%= t("admin.mailbox.index.form.title") %>
        </h1>
        <%= button_tag "", type: "button", class: "btn-close", data: { bs_dismiss: "modal" },
            aria: { label: "Close" } %>
      </div>
      <div class="alert alert-danger d-none" role="alert" data-error-for="form">
      </div>
      <%= form_with(
            url: admin_mailbox_template_file_url,
            data: {
              controller: "admin-mailbox-configure-template",
              action: "submit->admin-mailbox-configure-template#submit"
            }
          ) do %>
        <div class="modal-body">
          <%= label_tag :name, t("admin.mailbox.index.form.labels.name"), class: "form-label" %>
          <%= text_field_tag :name, nil, class: "form-control", required: true %>
          <div class="invalid-feedback" data-error-for="name"></div>

          <%= label_tag :template, t("admin.mailbox.index.form.labels.template"), class: "form-label" %>
          <%= select_tag :template,
              options_for_select(
                t("admin.mailbox.index.form.templates").invert.to_a,
                disabled: presenter.disabled_templates,
                selected: nil
              ),
              include_blank: true,
              required: true,
              class: "form-control" %>
          <div class="invalid-feedback" data-error-for="template"></div>

          <%= label_tag :emails, t("admin.mailbox.index.form.labels.emails"), class: "form-label" %>
          <%= text_area_tag :emails, nil, class: "form-control", rows: 3 %>
          <div class="invalid-feedback" data-error-for="emails"></div>
        </div>
        <div class="modal-footer">
          <%= button_tag t("admin.mailbox.index.form.close"), type: "button", class: "btn btn-secondary",
              data: { bs_dismiss: "modal" } %>
          <%= button_tag t("admin.mailbox.index.form.submit"), type: "submit", class: "btn btn-action" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
