<% content_for(:page_header) do %>
  <%= t("admin.mailbox.index.title") %>
<% end %>

<% content_for(:page_actions) do %>
  <%= button_tag type: "button",
    class: "btn btn-action",
    data: { bs_toggle: "modal", bs_target: "#addFileTemplateModal" } do %>

    <i class="fa fa-plus"></i>
    <%= t("admin.mailbox.index.configure_template") %>
  <% end %>
<% end %>

<% if @presenter.template_data_containers.present? %>
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><%= t("admin.mailbox.index.table.headers.name") %></th>
          <th scope="col"><%= t("admin.mailbox.index.table.headers.template") %></th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.template_data_containers.each do |template_data_container| %>
          <tr>
            <td><%= template_data_container.name %></td>
            <td><%= template_data_container.template %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    <%= t("admin.mailbox.index.no_templates_configured") %>
  </div>
<% end %>

<%= render partial: "modal_template_file_form", locals: { presenter: @presenter } %>
