<% content_for(:page_header) do %>
  <%= t("admin.mailbox.index.title") %>
<% end %>

<% content_for(:page_actions) do %>
  <%= button_tag(
        type: "button",
        class: "btn btn-action",
        data: { bs_toggle: "modal", bs_target: "#addFileTemplateModal" }
      ) do %>

    <i class="fa fa-plus"></i>
    <%= t("admin.mailbox.index.configure_template") %>
  <% end %>
<% end %>

<% if @presenter.message_templates.present? %>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <b><%= t("admin.mailbox.index.messages_templates") %></b>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-sm-2"><%= t("admin.mailbox.index.table.headers.file") %></th>
            <th scope="col"><%= t("admin.mailbox.index.table.headers.name") %></th>
            <th scope="col"><%= t("admin.mailbox.index.table.headers.template") %></th>
          </tr>
        </thead>
        <tbody>
          <% @presenter.message_templates.each do |message_template| %>
            <tr>
              <td>
                <%= link_to(message_template.url, target: "_blank") do %>
                  <%= t("admin.mailbox.index.table.actions.open") %>
                  <i class="fa fa-external-link"></i>
                <% end %>
              </td>
              <td><%= link_to(message_template.name, admin_message_template_url(message_template.id)) %></td>
              <td><%= message_template.template %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="alert alert-primary" role="alert">
    <%= t("admin.mailbox.index.no_templates_configured") %>
  </div>
<% end %>

<%= render partial: "modal_template_file_form", locals: { presenter: @presenter } %>
